.RightColumn {
float:left;
width:75%;
height:76.35%;
}
.PageTitle {
  margin:30px;
  margin-bottom:15px;
  margin-right:40px;
  border-bottom: 1.5px solid #595959;
  color: #595959;
  font-weight:normal;
}
.Contents {
  margin:30px;
  margin-right:40px;
}
.Contents ul {
  margin-left:-20px;
}
table {
  width:100%;
  background-color:red;
}
table tr {
  padding-top:10px;
  padding-bottom:10px;
  border: 1px solid black;
}
