.RightColumn {
float:left;
width:75%;
height:76.35%;
}
.PageTitle {
  margin:30px;
  margin-bottom:15px;
  border-bottom: 2px solid #000000;
}
h3 {
  margin:15px;
  margin-left:30px;
}
ul {
  margin-left:-10px;
  margin-bottom:20px;
}
ul a {
  color: #000000;
}
li {
  margin-top:3px;
  margin-bottom:3px;
}


