.RightColumn {
float:left;
width:75%;
height:76.35%;
}
.TopOfRightColumn {
  /*height:270px;*/
  width:750px;
}
.PhotoReel {
  height:270px;
  width: 750px;
}
.Credits {
  float:right;
  font-size:10px;
  color:white;
  font-family:"Helvetica";
  margin:0;
  margin-top:3px;
  margin-right:3px;
}
.BottomBanner {
  width:750px;
  height:20px;
  margin-top:-20px;
  z-index:1;
  position:absolute;
  background-color:red;
}
.BottomOfRightColumn {
  height:64.75%;
  width:100%;
}
.LeftSide {
  float:right;
  width:70%;
  height:100%;
  background-color:white;
}
.RightSide {
  float:right;
  width:30%;
  height:100.5%;
  background: linear-gradient(#4d94ff, #0047b3, #0047b3, #0047b3, #0047b3, #0047b3, #0047b3);
}
.MissionStatement {
  margin:10px;
  margin-top:20px;
}
.MissionStatement h3 {
  font-size:16px;
  text-align:center;
  margin-top:6px;
  margin-bottom:6px;
}
.MissionStatement p {
  font-size:14px;
  margin-left:20px;
  margin-right:20px;
  margin-top:4px;
  margin-bottom:4px;
  text-align:center;
}
.MissionStatement a {
  color: #000000;
}
