html {
  background-color:#c0c0c0;
  margin:0px;
  width:100%;
}
body {
width: 1000px;
height:1000px;
margin:0px;
margin-left: auto;
margin-right: auto;
background-color: #FFFFFF;
}
.logoBar {
width: 100%;
height: 88px;
background: #0047b3;
background: linear-gradient(to bottom right, #4d94ff, #0047b3);
}
.OptionsBar {
  margin:0;
  margin-left:-40.5px;
  margin-right:2px;
}
.OptionsBar ul {
margin:0;
list-style-type:none;
text-align:center;
width:100%;
/*height:50px;*/
}
.OptionsBar li {
  padding-top:17.5px;
  padding-bottom:17.5px;
  margin:0;
  float:left;
  width:24%;
  background: linear-gradient(#f2f2f2, #b3b3b3);
  margin-left:0.5px;
  margin-right:0.5px;
}
.OptionsBar li:hover {
  background: linear-gradient(#b3b3b3, #f2f2f2);
}
.OptionsBar a {
  color:#000000;
  text-decoration:none;
}
.logo {
 margin:10px;
 float:left;
 box-shadow: 1px 1px 5px #1a1a1a;
}
container {
  margin:0;
  margin-top:50px;
}
.LeftBox {
margin:0;
padding-right:-1px;
width:25%;
background: linear-gradient(#4d94ff, #0047b3, #0047b3, #0047b3, #0047b3, #0047b3, #0047b3);
}
.LeftBox div {
  margin:7%;
  margin-top:-50px;
  font-size:12.5px;
  color: #d9d9d9;
  text-shadow: 2px 0px #1a1a1a;
}
.LeftBox h3 {
text-align:center;
margin-bottom:1px;
}
.LeftBox p {
  margin-top:2px;
  margin-bottom:2px;
}
.LeftBox a {
  color:#d9d9d9;
}
.headshot {
  width:70%;
  margin:15%;
}
.headshot {
  
}
