html {
margin:0;
background-color: #808080;
}
header {
width:100%;
}
.TopOfHeader {
  background:linear-gradient(to bottom right, #4d94ff, #0047b3);
  height:88px;
}
.logo {
  margin:10px;
}
.BottomOfHeader {
  background-color:red;
  width:100%;
}
.NavOptions {
  width:100%;
  list-style-type:none;
  margin:0;
  margin-left:-40px;
  text-align:center;
}
.NavOptions li {
  width:24.8%;
  margin-right:0.2%;
  background:linear-gradient(#f2f2f2, #a6a6a6);
  float:left;
  padding-top:15px;
  padding-bottom:15px;
}
body {
  width:1000px;
  height:1000px;
  margin:0;
  margin-left:auto;
  margin-right:auto;
  background-color:white;
}
.LeftColumn {
float:left;
width:24.8%;
height:86.2%;
background-color:blue;
}
.RightColumn {
float:left;
width:75.2%;
height:86.2%;
background-color:green;
}
.TopOfRightColumn {
  height:25%;
  width:100%;
  background-color:orange;
}
.BottomOfRightColumn {
  height:75%;
  width:100%;
  background-color:purple;
}
.LeftSide {
  float:left;
  width:70%;
  height:100%;
  background-color:green;
}
.RightSide {
  float:left;
  width:30%;
  height:100%;
  background-color:lime;
}
